.pageContain
  width: 90%
  margin: 0 auto
  text-align: center
  height: 100vh
  display: flex
  flex-direction: column
  justify-content: top
  align-items: center
  .homeImage
    border: 6px solid #7524ef
    border-radius: 1rem
    margin-top: 5%
  h1
    color: white
    font-size: 2rem
    font-weight: bold
    text-shadow: 0 0 2px #7524ef, 0 0 6.5px #7524ef, 0 0 10px #7524ef, 0 0 15px #7524ef, 0 0 20px #7524ef, 0 0 30px #7524ef, 0 0 40px #7524ef, 0 0 50px #7524ef
    animation: neon-blink 1.5s infinite alternate
  button
    width: 30%
    height: 2rem
    background: #7524ef
    border: none
    border-radius: .2rem
    margin-top: 1rem
    &:hover
      cursor: pointer


@keyframes neon-blink
  0%
    text-shadow: 0 0 2px #fff, 0 0 6.5px #fff, 0 0 10px #ffffff,0 0 15px #ffffff, 0 020px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px, #ffffff

  100%
    text-shadow: 0 0 2px #fff, 0 0 6.5px #fff, 0 0 10px #ffffff, 0 0 15px #ffffff, 0 0 20px #ffff0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 50px, #ffffff
